In [149]:
import pandas as pd

df = pd.read_csv('./trans_ref.csv', index_col=0)

heh = df[df.duplicated(subset=['report', 'transcript_source'], keep=False)].sort_values('report')
heh

           report        date  transcript_source                 file_name
59284   8710397.0  2002-07-30                  0  20020730-20020802_13.pdf
59285   8710397.0  2002-07-30                  0  20020730-20020802_12.pdf
59292   8713099.0  2002-07-31                  0  20020730-20020802_10.pdf
59293   8713099.0  2002-07-31                  0  20020730-20020802_11.pdf
8552    8714793.0  2002-10-15                  0  20021014-20021017_12.pdf
...           ...         ...                ...                       ...
57091  72931747.0  2021-09-07                  0  20210907-20210910_13.pdf
52368  72939535.0  2021-09-07                  0  20210907-20210910_13.pdf
52367  72939535.0  2021-09-07                  0   20210906-20210909_1.pdf
59118  72975318.0  2021-08-12                  0   20210809-20210812_9.pdf
59119  72975318.0  2021-08-12                  0   20210810-20210813_4.pdf

[13759 rows x 4 columns]

In [153]:
test = heh[:2]
test

          report        date  transcript_source                 file_name
59284  8710397.0  2002-07-30                  0  20020730-20020802_13.pdf
59285  8710397.0  2002-07-30                  0  20020730-20020802_12.pdf

In [155]:
filenames = test.file_name.to_list()
for filename in filenames:
    #sftp.get(directory+f'/{filename}',f'./tempdir/{filename}')
    print(filename)

20020730-20020802_13.pdf
20020730-20020802_12.pdf