In [82]:
import pandas as pd
import numpy as np
import paramiko as pk
import datetime

#ssh into mercury using paramiko
host = 'mercury.chicagobooth.edu'
port = 22
username = 'erouhani'
password = 'Zereshkpolo78!'

conf_univ = "/project/kh_mercury_1/conference_call/xml_pulls/"
maindf = pd.read_csv('./main_df.csv', index_col=0)
alltrans = pd.read_csv('./all_trans.csv', index_col=0)
display(maindf.head())
display(alltrans.head())

       report        date  transcript_source
0   8903264.0  2003-07-24                  0
1   9912850.0  2004-11-02                  0
2  10220609.0  2005-04-01                  0
3  24746194.0  2014-10-23                  0
6  24746378.0  2014-10-23                  0

                 file_name      report  transcript_source
0  20121106-20121109_7.pdf  21044925.0                  0
1  20121106-20121109_7.pdf  21045694.0                  0
2  20121106-20121109_7.pdf  21045712.0                  0
3  20121106-20121109_7.pdf  21045002.0                  0
4  20121106-20121109_7.pdf  21045791.0                  0